@font-face {
    font-family: 'Majalla';
    src: url('/fonts/SakkalMajalla.woff2') format('woff2'),
         url('/fonts/SakkalMajalla.woff') format('woff'),
         url('/fonts/SakkalMajalla.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body[dir='rtl'] {
    direction: rtl;
    text-align: right;
    font-family: 'Majalla', sans-serif !important;
}
.header-area .main-header-area .main-menu ul li a{
    font-family: 'Majalla', sans-serif !important;
}
.slider_area_inner .single_slider .slider_text h3{
    font-family: 'Majalla', sans-serif !important;
}
.boxed-btn4 {
    font-family: 'Majalla', sans-serif !important;
}

.slider_bg_1 {
    transform: scaleX(-1);
    background-position: right;
}
.slider_text{
    transform: scaleX(-1);
}
.slider_area .slider_area_inner .container{
    transform: scaleX(-1);
    background-position: right;
}

.row .col-xl-7 .single_slider{
    transform: scaleX(-1);
    background-position: right;
}
h1, h2, h3, h4, h5{
    font-family: 'Majalla', sans-serif !important;
}

p{
    font-family: 'Majalla', sans-serif !important;
}
.about_area .single_about_info p{
    font-size: 33px;
}
.footer-dark{
    direction: ltr;
}

.value-box ul li{
    display: flex;
    margin-left: 34px;
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 0;
    margin-bottom: 18px;
    color: #a79d9d;
}

.about-us h2{
    font-size: 36px;
    font-weight: 700;
    color: #b89b5e;
    text-transform: uppercase;
    border-bottom: 3px solid #b89b5e;
    display: inline-block;
    padding-bottom: 10px;
    margin-left: 507px;
}
.about-us p{
    font-size: 20px;
}
.detail-description{
    text-align: right;
    
}

.detail-description p{
    font-size: 18px;
    color: #d3c2c2;
}

.team-info p.bio {
    font-size: 17px;
}
.team-info h3.member-name{
    text-align: right;
}
.team-info p.position{
    text-align: right;
}
.contact_us_6 .responsive-container-block.container{
       margin-right: -147px;
       align-items: center;
       gap: 45px;
}

.contact_us_6 *{
    text-align: right;
}
.contact_us_6 .text-blk.input-title{
    text-align: right;
}
.contact_us_6 .submit-btn{
    text-align: center;
    width: 77%;
    margin-left: 58px;
}



/* Responsive Adjustments */
@media (max-width: 768px) {
    .lang-selector{
        width: 30px;
        margin-right: 269px;
    }
    .slider_area_inner .single_slider .slider_text h3{
    font-family: 'Majalla', sans-serif !important;
    font-size: 33px;
    font-weight: 100;
}
.boxed-btn4 {
    font-family: 'Majalla', sans-serif !important;
    width: 166px;
}
.section_title span{
    color: #c78c15;
    display: block;
}
.about-us h2 {
    font-size: 21px;
    font-weight: 700;
    color: #b89b5e;
    border-bottom: 3px solid #b89b5e;
    display: block; 
    padding-bottom: 10px;
    text-align: right; 
    direction: rtl; 
    white-space: normal; 
    margin: 10px 0; 
}
.about-us p{
    width: auto;
}
.about_area .single_about_info .about_text{
    font-size: 22px;
}
.team-info h3.member-name{
    text-align: center;
}
.team-info p.position{
    text-align: center;
}
.contact_us_6 .responsive-container-block.container{
    margin: 0;
    width: 89%;
}
.contact_us_6 p {
    margin-left: 198px;
    margin-top: 19px;
  }
  .map-part .map-container{
    width: 94%;
    height: 163px;
    margin-left: 32px;
  }
  .map-part .logo-img {
    margin-left: 284px;
    margin-top: -30px;
}
}





  @media (max-width: 480px) {
    .lang-selector{
        width: 30px;
        margin-right: 269px;
    }
    .slider_area_inner .single_slider .slider_text h3{
    font-family: 'Majalla', sans-serif !important;
    font-size: 33px;
    font-weight: 100;
}
.section_title span{
    color: #c78c15;
    display: block;
}
.boxed-btn4 {
    font-family: 'Majalla', sans-serif !important;
    width: 166px;
}
.about-us h2 {
    font-size: 21px;
    font-weight: 700;
    color: #b89b5e;
    border-bottom: 3px solid #b89b5e;
    display: block; 
    padding-bottom: 10px;
    text-align: right; 
    direction: rtl; 
    white-space: normal; 
    margin: 10px 0; 
}

.about-us p{
    width: auto;
}
.about_area .single_about_info .about_text{
    font-size: 22px;
}
.team-info h3.member-name{
    text-align: center;
}
.team-info p.position{
    text-align: center;
}
.contact_us_6 .responsive-container-block.container{
    margin: 0;
    width: 89%;
}
.contact_us_6 p {
    margin-left: 198px;
    margin-top: 19px;
  }
  .map-part .map-container{
    width: 94%;
    height: 163px;
    margin-left: 32px;
  }
  .map-part .logo-img {
    margin-left: 284px;
    margin-top: -30px;
}
}
