/* @font-face {
    font-family: 'Majalla';
    src: url('/fonts/SakkalMajalla.woff2') format('woff2'),
         url('/fonts/SakkalMajalla.woff') format('woff'),
         url('/fonts/SakkalMajalla.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

body[dir='rtl'] {
    direction: rtl;
    text-align: right;
    font-family: "Cairo", sans-serif !important;
}
.header-area .main-header-area .main-menu ul li a{
    font-family: "Cairo", sans-serif !important;
}
.slider_area_inner .single_slider .slider_text h3{
    font-family: "Cairo", sans-serif !important;
}
.boxed-btn4 {
    font-family: "Cairo", sans-serif !important;
}

.slider_bg_1 {
    transform: scaleX(-1);
    background-position: right;
}
.slider_text{
    transform: scaleX(-1);
}
.slider_area .slider_area_inner .container{
    transform: scaleX(-1);
    background-position: right;
}

.row {
    margin-left: auto ;
}

.row .col-xl-7 .single_slider{
    transform: scaleX(-1);
    background-position: right;
}
h1, h2, h3, h4, h5{
    font-family: "Cairo", sans-serif !important;
}

p{
    font-family: "Cairo", sans-serif !important;
}
.about_area .single_about_info p{
    font-size: 23px;
    line-height: 1.6;
}

.value-box ul li{
    font-family: 'Cairo';
    margin-right: 35px;
    margin-left: auto;
    display: block;
    text-align: justify;
    font-weight: 500;
    padding: 5px 0;
    margin-bottom: 18px;
    color: #a79d9d;
}

/* .about-us h2{
    font-size: 25px;
    font-weight: 700;
    color: #b89b5e;
    text-transform: uppercase;
    border-bottom: 3px solid #b89b5e;
    display: inline-block;
    padding-bottom: 10px;
    margin-left: 507px;
} */

.about-us p{
    font-size: 20px;
}
.detail-description{
    font-family: 'Cairo';
    text-align: right;
    white-space: pre-line;
    
}

.detail-description p{
    font-size: 20px;
    color: #000000;
}
.team-image{
    overflow: hidden;
}
.team-image img{
    width: 107%;
    height: auto;
    object-fit: contain;
}
.team-info p.bio {
    font-size: 14px;
}
.team-info h3.member-name{
    text-align: right;
}
.team-info p.position{
    text-align: right;
}
.contact_us_6 .responsive-container-block.container{
    align-items: center;
    gap: 45px;
}

.contact_us_6 *{
    margin-bottom: 16px;
    text-align: right;
}
.contact_us_6 .text-blk.input-title{
    text-align: right;
}
.contact_us_6 .submit-btn{
    text-align: center;
    width: 77%;
    margin: auto;
}

.practice_area .single_practice .practice_hover p {
    font-size: 13px;
    text-align: justify;
}
@media (max-width: 420px){
    .slider_area_inner .single_slider .slider_text h3{
        font-family: "Cairo", sans-serif !important;
        font-weight: 100;
    }
    .boxed-btn4 {
        font-family: "Cairo", sans-serif !important;
        width: 166px;
    }
    .section_title span{
        color: #c78c15;
        display: block;
    }
    .about-us h2 {
        font-size: 21px;
        font-weight: 700;
        color: #b89b5e;
        border-bottom: 3px solid #b89b5e;
        display: block; 
        padding-bottom: 10px;
        text-align: right; 
        direction: rtl; 
        white-space: normal; 
        margin: 10px 0; 
    }
    .about-us p{
        width: auto;
    }
    .about_area .single_about_info .about_text{
        font-size: 22px;
    }
    .team-info h3.member-name{
        text-align: center;
    }
    .team-info p.position{
        text-align: center;
    }
    .contact_us_6 p {
        margin-top: 19px;
    }
    .map-part .map-container{
        width: 94%;
        height: 163px;
    }
    .map-part .logo-img {
        margin-top: -30px;
    }
}



/* Responsive Adjustments */

@media (max-width: 768px) {
    .slider_area_inner .single_slider .slider_text h3{
        font-family: "Cairo", sans-serif !important;
        font-weight: 100;
    }
    .boxed-btn4 {
        font-family: "Cairo", sans-serif !important;
        width: 166px;
    }
    .section_title span{
        color: #c78c15;
        display: block;
    }
    .about-us h2 {
        font-size: 21px;
        font-weight: 700;
        color: #b89b5e;
        border-bottom: 3px solid #b89b5e;
        display: block; 
        padding-bottom: 10px;
        text-align: right; 
        direction: rtl; 
        white-space: normal; 
        margin: 10px 0; 
    }
    .about-us p{
        width: auto;
    }
    .about_area .single_about_info .about_text{
        font-size: 22px;
    }
    .team-info h3.member-name{
        text-align: center;
    }
    .team-info p.position{
        text-align: center;
    }
    .contact_us_6 .responsive-container-block.container{
        width: 89%;
    }
    .contact_us_6 p {
        margin-top: 19px;
    }
    .map-part .map-container{
        width: 94%;
        height: 163px;
    }
    .map-part .logo-img {
        margin-top: -30px;
    }
}


@media (max-width: 480px) {
    .slider_area_inner .single_slider .slider_text h3{
        font-family: "Cairo", sans-serif !important;
        font-weight: 100;
    }
    .section_title span{
        color: #c78c15;
        display: block;
    }
    .boxed-btn4 {
        font-family: "Cairo", sans-serif !important;
        width: 166px;
    }
    .about-us h2 {
        font-size: 21px;
        font-weight: 700;
        color: #b89b5e;
        border-bottom: 3px solid #b89b5e;
        display: block; 
        padding-bottom: 10px;
        text-align: right; 
        direction: rtl; 
        white-space: normal; 
        margin: 10px 0; 
    }

    .about-us p{
        width: auto;
    }
    .about_area .single_about_info .about_text{
        font-size: 22px;
    }
    .team-info h3.member-name{
        text-align: center;
    }
    .team-info p.position{
        text-align: center;
    }
    .contact_us_6 p {
        margin-top: 19px;
    }
    .map-part .map-container{
        width: 94%;
        height: 163px;
    }
    .map-part .logo-img {
        margin-top: -30px;
    }
}
