.detail-container {
    background-color: #bebbb8;
    padding: 40px;
    border-radius: 10px;
    max-width: 900px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: #fff;
}

/* Title */
.detail-container h1 {
    color: #b89b5e;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
}

.detail-image {
    display: none;
}

/* Title Underline */
.detail-container h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #b89b5e;
    margin: 10px auto 20px;
}

/* Description Styling */
.detail-description {
    text-align: left;
    color: #ddd;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
    border-left: 4px solid #b89b5e;
    padding-left: 15px;
}

/* Paragraphs */
.detail-description p {
    color: #000000;
    margin-bottom: 15px;
}

/* Section Headings */
.detail-description h2, 
.detail-description h3 {
    color: #b89b5e;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* Dividers */
.detail-description hr {
    border: none;
    height: 1px;
    background: #444;
    margin: 15px 0;
}

/* Button */
.btn-secondary {
    background-color: #b89b5e;
    color: #121212;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.btn-secondary:hover {
    background-color: #a4844c;
    color: #fff;
    transform: scale(1.05);
}
