.detail-container {
    background-color: #f6f6f6;
    padding: 40px;
    border-radius: 10px;
    max-width: 900px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.detail-container h1 {
    color: #b89b5e;
    margin-bottom: 2px;
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}

.detail-image {
    display: none;
}

.detail-description {
    text-align: left;
    color: #000000;
    font-size: 16px;
    line-height: 2.8;
    margin-bottom: 20px;
    padding-left: 15px;
    white-space: pre-line;
}


.detail-description hr {
    border: none;
    height: 1px;
    background: #444;
    margin: 15px 0;
}

.btn-secondary {
    background-color: #b89b5e;
    color: #121212;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.btn-secondary:hover {
    background-color: #a4844c;
    color: #fff;
    transform: scale(1.05);
}


.detail-description .paragraph-block {
    padding-right: 15px;
    font-size: 5px;
  }
  
  .detail-description .paragraph-block h3 {
    color: #b89b5e;       
    margin-bottom: 0.5rem;
    text-align: right;    
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
  }
  
  .detail-description .paragraph-block p {
    text-align: right;     
    color: #000;
    line-height: 1.8;
    margin-bottom: 0;      
    font-size: 1rem;
    white-space: normal;   
  }
  


  [dir="rtl"] .detail-description {
    text-align: right;  
  }
  [dir="rtl"] .detail-description .paragraph-block {
    border-right: 3px solid #b89b5e;
    padding-right: 15px;
  }
  [dir="rtl"] .detail-description .paragraph-block h3,
  [dir="rtl"] .detail-description .paragraph-block p {
    text-align: right; 
  }
  
  /* ----------------------
     LTR (English) Styles
  ----------------------- */
  [dir="ltr"] .detail-description {
    text-align: left; 
  }
  [dir="ltr"] .detail-description .paragraph-block {
    border-left: 3px solid #b89b5e;
    padding-left: 15px;
  }
  [dir="ltr"] .detail-description .paragraph-block h3,
  [dir="ltr"] .detail-description .paragraph-block p {
    text-align: left;
  }